@value facebookBlue, defaultWhite from "../colors.css";

.button {
  display: flex;
  align-items: center;
  padding: 0.5rem;
  height: 2.5rem;
  font-weight: 700;
  border-radius: 3px;
  border-style: solid;
  border-color: facebookBlue;
  background-color: facebookBlue;
  color: defaultWhite;
  font-size: 0.9rem;
}

.button > div {
  display: flex;
  align-items: center;
}

.iconWrapper {
  display: flex;
  padding-right: 1rem;
}

.facebookIcon {
  fill: defaultWhite;
  height: 2rem;
  width: 2rem;
}
