@value citron, defaultWhite from "../colors.css";
@value logoWidth: 8rem;
@value smallerLogoWidth: 2.5rem;
@value defaultAnimationDuration: all 1s ease-in-out;
@value delayedAnimationDuration: all 2s ease-in-out;

.baseAnimation {
  -webkit-transition: defaultAnimationDuration;
  -moz-transition: defaultAnimationDuration;
  -o-transition: defaultAnimationDuration;
  -ms-transition: defaultAnimationDuration;
  transition: defaultAnimationDuration;
}

.delayedAnimation {
  -webkit-transition: delayedAnimationDuration;
  -moz-transition: delayedAnimationDuration;
  -o-transition: delayedAnimationDuration;
  -ms-transition: delayedAnimationDuration;
  transition: delayedAnimationDuration;
}

.preAnimation {
  width: 100%;
}

.postAnimation {
  width: 100%;
}

.logoWrapper {
  composes: baseAnimation;
}

.logo {
  composes: baseAnimation;
}

.buttons {
  composes: delayedAnimation;
  -webkit-transition-delay: 1s;
  -moz-transition-delay: 1s;
  -o-transition-delay: 1s;
  -ms-transition-delay: 1s;
  animation-delay: 1s;
}

.buttons > * {
  margin-bottom: 1rem;
}

.baseHeader {
  composes: baseAnimation;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
}

.title {
  display: inline-block;
  color: citron;
  margin-bottom: 0.5rem;
}

.title h1 {
  color: citron;
  font-size: 2.48rem;
  margin: 0;
}

.subtitle {
  color: defaultWhite;
  letter-spacing: -0.32pt;
  opacity: 1;
}

.cover {
  composes: baseAnimation;
  position: fixed;
  left: 0;
  height: 19rem;
  width: 100%;

  background-size: cover;
}

.preAnimation > .header {
  top: 33%;
  padding: 0;
}

.postAnimation > .header {
  top: 0;
  padding-top: 2rem;
}

.preAnimation .logoWrapper {
  height: logoWidth;
}

.postAnimation .logoWrapper {
  height: smallerLogoWidth;
}

.preAnimation .logoWrapper .logo {
  height: logoWidth;
  width: logoWidth;
}

.postAnimation .logoWrapper .logo {
  height: smallerLogoWidth;
  width: smallerLogoWidth;
  padding-left: 75%;
}

@keyframes fadeinout {
  50% {
    opacity: 0;
  }
  100% {
    opacity: 0;
    height: 0px;
  }
}

.postAnimation .subtitle {
  animation: fadeinout 1s linear forwards;
}

.preAnimation .animatedCover {
  bottom: 0px;
}

.postAnimation .animatedCover {
  bottom: -5rem;
}

.preAnimation .buttons {
  opacity: 0;
}

.postAnimation .buttons {
  opacity: 1;
}
