{
  "extends": ["react-app"],
  "plugins": [
     "react-hooks"
  ],
  "rules": {
     "react-hooks/rules-of-hooks": "error",
     "react-hooks/exhaustive-deps": "warn",
     "no-use-before-define": [
        "error",
        {
           "functions": true,
           "classes": true,
           "variables": true
        }
     ]
  }
}