.longPressButtonIcon {
  height: 40vmin;
  pointer-events: none;
  fill: white;
}

.recordingLongPressButtonIcon {
  composes: longPressButtonIcon;
  animation: changeColor 3s infinite;
}

@keyframes changeColor {
  0% {
    fill: white;
  }
  25% {
    fill: #c75b5b;
  }
  50% {
    fill: #5551bb;
  }
  75% {
    fill: #86bb51;
  }
  100% {
    fill: white;
  }
}
