@value canaryMustard, defaultWhite from "../colors.css";

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: defaultWhite;
  width: 11rem;
  height: 11rem;
  border-radius: 50%;
}

.outerCircle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 9.2rem;
  height: 9.2rem;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border: 0.4rem solid canaryMustard;
}

.innerCircle {
  height: 6.8rem;
  width: 6.8rem;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  background-color: canaryMustard;
}
