@value headerSize, sidePadding, overlayDepth, underHighlightDepth, highlightDepth from "../sizes.css";
@value firstToastyDelay, firstButtonDelay, firstBackgroundDelay from "../recording-constants.css";
/* 50 (toasty) + 19 (toasty spacing) + 55 (half button) + 120 (background image) */
@value pageFooterSize: 24.4rem;
/* 49 (spacing) + 50 (toasty) + 23 (toasty spacing) + 92 (audio) + 36 (audio spacing) + 100 (buttons) + 24 (buttons spacing) */
@value pageFooterSizeRecorded: 39rem;
@value initialBackgroundHeight: 12rem;
@value finalBackgroundHeight: 4.3rem;

.content {
  min-height: calc(100vh - pageFooterSize - headerSize);
}

.microphone {
  position: relative;
  display: flex;
  justify-content: center;
  z-index: underHighlightDepth;
}

.background {
  position: absolute;
  bottom: 0;
  left: 0;
  height: initialBackgroundHeight;
  width: 100%;
  object-fit: cover;

  opacity: 0;
  animation: appearFromBottom 500ms forwards;
  animation-delay: firstBackgroundDelay;
  transition: height 300ms ease-in;
  transition-delay: firstToastyDelay;
}

.footer {
  height: pageFooterSize;
  position: relative;
}

.toasty {
  position: relative;
  z-index: highlightDepth;
  padding: 0 sidePadding;
}

/* RECORDED: 0 - instantly remove mic and shrink background */

.recorded .background {
  height: finalBackgroundHeight;
  transition: height 400ms ease-in;
}

/* RECORDED: 1 - expand content */
.recorded .content {
  min-height: calc(100vh - pageFooterSizeRecorded - headerSize);
  transition: min-height 100ms ease-in;
  transition-delay: 200ms;
}

.recorded .footer {
  height: pageFooterSizeRecorded;
  transition: height 100ms ease-in;
  transition-delay: 200ms;
}

@keyframes appearFromBottom {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}

/* OVERLAY */

.dimmed {
  position: relative;
}

.dimmed:after {
  content: " ";
  z-index: overlayDepth;
  display: block;
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  background: rgba(255, 255, 255, 0.5);
}
