@value headerSize from "../sizes.css";
@value overlayDepth, highlightDepth from "../sizes.css";
:root {
  --page-footer-size: 17.5rem;
  --page-footer-size-sm: 4.3rem;
}

.content {
  height: calc(100vh - var(--page-footer-size) - headerSize);
  position: relative;
}

.content.recorded {
  height: calc(100vh - var(--page-footer-size-sm) - headerSize);
}

.suggestion {
  z-index: 3;
}

.footer {
  background-position-y: 5.5rem;
  background-repeat: no-repeat;
  background-size: contain;
  height: var(--page-footer-size);
}

.footer.recorded {
  background-position-y: 0px;
  height: var(--page-footer-size-sm);
  background-size: cover;
}

.microphone {
  display: flex;
  justify-content: center;
  z-index: highlightDepth;
}

.skipPhrase {
  margin-bottom: 11.8rem;
}

.toasty {
  position: absolute;
  bottom: 1.8rem;
  width: 100%;
  z-index: highlightDepth;
}

.dimmed {
  position: relative;
}

.dimmed:after {
  content: " ";
  z-index: overlayDepth;
  display: block;
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  background: rgba(255, 255, 255, 0.5);
}

.hide {
  display: none;
}

.player {
  margin-top: 2.1rem;
  margin-bottom: 4.3rem;
}

.actionButtons {
  position: absolute;
  bottom: 2.4rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
