@value headerSize from "../sizes.css";

:root {
  --page-footer-size: 17.5rem;
}

.content {
  height: calc(100vh - var(--page-footer-size) - headerSize);
}

.footer {
  background-position-y: 5.5rem;
  background-repeat: no-repeat;
  background-size: contain;
  height: var(--page-footer-size);
}

.microphone {
  display: flex;
  justify-content: center;
}
