@value infoGrey from "../colors.css";
@value sidePadding, headerPaddingTop, headerPaddingBottom, headerInnerSize from "../sizes.css";

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: headerSize;
  padding: headerPaddingTop sidePadding headerPaddingBottom sidePadding;
}

.logo {
  display: flex;
  align-items: center;
}

.infoButton {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 3.1rem;
  width: 3.1rem;
  border: 0.2rem solid infoGrey;
  border-radius: 50%;
}

.infoButton > span {
  font-size: 2.4rem;
  letter-spacing: -0.003rem;
}

.recordingLogo {
  height: headerInnerSize;
  width: headerInnerSize;
  padding-right: 1rem;
}
