@value cobalt, recordingTextGrey from "../colors.css";
@value highlightDepth from "../sizes.css";

.wrapper {
  position: relative;
  box-shadow: 0px 0px 1.1rem 0.2rem rgba(222, 222, 222, 0.5);
  border-radius: 0.5rem;
  padding: 3.2rem 1.8rem 4.6rem 1.8rem;
  margin-bottom: 1.4rem;
}

.step {
  position: absolute;
  top: -1.4rem;
  right: 1.4rem;

  text-align: center;
  display: flex;
  background-color: rgb(244, 211, 94);
}

.stepText {
  padding: 0.3rem 1.6rem 0.3rem 1.6rem;
  font-size: 1.8rem;
  font-weight: 500;
  letter-spacing: -0.036rem;
  color: cobalt;
}

.word {
  word-break: break-word;
  font-size: 4rem;
  line-height: 4.2rem;
  letter-spacing: -0.005rem;
  font-weight: 500;
}

.lightWord {
  composes: word;
  color: recordingTextGrey;
}

.normalWord {
  composes: word;
  position: relative;
  z-index: highlightDepth;
  color: rgb(24, 24, 24);
}

.darkWord {
  composes: word;
  font-weight: 700;
  color: rgb(24, 24, 24);
}
