@value headerSize, sidePadding, modalOverlayDepth, modalWindowDepth from "../sizes.css";
@value darkestGray, defaultWhite, comemorativeYellow, cozyOrange from "../colors.css";
@value desktopBreakpoint from "../sizes.css";

@value modalSideSpacing: 2.6rem;
@value modalInnerPadding: 1.6rem;
@value modalWithHeaderSize: 5.8rem;
@value modalWithoutHeaderSize: 2.5rem;

.overlay {
  position: fixed;
  left: 0;
  top: 0;
  z-index: modalOverlayDepth;
  height: 100%;
  width: calc(100% - 2 * modalSideSpacing);
  padding: 0 modalSideSpacing;
  background: rgba(55, 55, 55, 0.85);
}

.modal {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.modalContainer {
  position: relative;
}

.content {
  position: relative;
  z-index: modalWindowDepth;
  min-height: calc(100vh - 4 * headerSize);
}

.noContent {
  min-height: unset;
}

.body {
  background-color: defaultWhite;
  padding: modalWithHeaderSize modalInnerPadding modalInnerPadding;
  opacity: 0;
  animation: appearFromBottom 300ms forwards;
}

.noHeader {
  padding: modalWithoutHeaderSize modalInnerPadding modalInnerPadding;
}

.header {
  position: absolute;
  top: -5rem;
  left: calc(50% - modalWithHeaderSize);
  height: 10rem;
  width: 10rem;

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 50%;
  background-color: comemorativeYellow;

  opacity: 0;
  animation: appearFromTop 300ms forwards;
}

.header > svg {
  height: 5rem;
  width: 5rem;
}

.scoreChange {
  display: flex;
  justify-content: center;
  padding-bottom: 2rem;
}

.scoreTitle {
  font-size: 3.2rem;
  font-weight: 700;
  letter-spacing: -0.064rem;
  color: cozyOrange;
}

.titleWrapper {
  padding-bottom: 2.4rem;
}

.title {
  font-size: 2.8rem;
  font-weight: 600;
  letter-spacing: -0.056rem;
  color: darkestGray;
  margin: 0 0 3.2rem 0;
}

.subtitle {
  font-size: 2rem;
  line-height: 2.4rem;
  letter-spacing: -0.04rem;
  color: darkestGray;
}

.actions > * {
  margin-top: 1.1rem;
}

@keyframes appearFromBottom {
  0% {
    opacity: 0;
    transform: translateY(20%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}

@keyframes appearFromTop {
  0% {
    opacity: 0;
    transform: translateY(-20%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}

@media (min-width: desktopBreakpoint) {
  .actions {
    display: flex;
    justify-content: space-between;
  }

  .overlay {
    width: calc(100% - 2 * 40rem);
    padding: 0 40rem;
  }

  .body {
    padding: modalWithHeaderSize 5rem 5rem;
  }

  .noHeader {
    padding: modalWithoutHeaderSize 5rem 5rem;
  }
}
