.animations {
  transition: opacity 300ms, transform 300ms;
}

.initial {
  opacity: 0;
  animation: appearFromTop 500ms forwards;
}

@keyframes appearFromTop {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}

.enter .toasty {
  transition: opacity 300ms, transform 300ms;
  opacity: 0;
  transform: translateY(-100%);
}

.enterActive .toasty {
  transition: opacity 300ms, transform 300ms;
  opacity: 1;
  transform: translateY(0%);
}

.exit {
  animation: none;
  composes: animations;
  opacity: 1;
  transform: translateY(0%);
}

.exitActive {
  animation: none;
  composes: animations;
  opacity: 0;
  transform: translateY(100%);
}

.player {
  margin-top: 2.1rem;
  margin-bottom: 4.3rem;
}

.actionButtons {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.trashIcon {
  height: 5rem;
}

.checkIcon {
  height: 3.4rem;
}
