.actionButtons {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.actionButtons > button {
  padding: 0;
  margin: 0;
  border: 0;
  background-color: unset;
}

.trashButton > svg {
  height: 5rem;
}

.checkButton > svg {
  height: 3.4rem;
}

.animations {
  transition: opacity 300ms, transform 300ms;
}
/* 
.enter .toasty {
  transition: opacity 300ms, transform 300ms;
  opacity: 0;
  transform: translateY(-100%);
}

.enterActive .toasty {
  transition: opacity 300ms, transform 300ms;
  opacity: 1;
  transform: translateY(0%);
}

.exit {
  animation: none;
  composes: animations;
  opacity: 1;
  transform: translateY(0%);
}

.exitActive {
  animation: none;
  composes: animations;
  opacity: 0;
  transform: translateY(100%);
} */

.toasty {
  opacity: 0;
  animation: appearFromTop 600ms forwards;
  animation-delay: 900ms;
}

.player {
  margin-top: 2.1rem;
  margin-bottom: 4.3rem;
  opacity: 0;
  animation: appearFromTop 300ms forwards;
  animation-delay: 300ms;
}

.trashButton {
  opacity: 0;
  animation: appearFromTop 250ms forwards;
  animation-delay: 700ms;
}

.checkButton {
  opacity: 0;
  animation: appearFromTop 250ms forwards;
  animation-delay: 800ms;
}

@keyframes appearFromTop {
  0% {
    opacity: 0;
    transform: translateY(-50%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}
