@value deepBlue, mediumGray, darkestGray from "../colors.css";
@value sidePadding, desktopBreakpoint from "../sizes.css";

.wrapper {
  position: relative;
}

.title {
  font-size: 4rem;
  font-weight: 700;
  line-height: 4.2rem;
  letter-spacing: -0.08rem;
  color: darkestGray;
  margin: 0;
}

.titleWrapper {
  padding: 3.9rem sidePadding 2rem sidePadding;
}

.descriptionWrapper {
  padding-left: sidePadding;
  padding-right: sidePadding;
  margin: 0 0 7.9rem 0;
}

.existingUser {
  font-size: 1.8rem;
  font-weight: 400;
  letter-spacing: -0.036rem;
  color: deepBlue;
  margin: 0 0 3.5rem 0;
}

@media (min-width: desktopBreakpoint) {
  .wrapper {
    width: 60%;
    padding-right: 4.5rem;
  }

  .titleWrapper {
    padding: 0;
  }

  .descriptionWrapper {
    padding: 0;
    padding-top: 2rem;
  }
}
