@value deepBlue, darkestGray, descriptionGray, lighterGray from "../colors.css";
@value sidePadding from "../sizes.css";

@value commonSpacing: 3.4rem;

.description {
  line-height: 2.8rem;
  font-size: 2.4rem;
  color: descriptionGray;
  letter-spacing: -0.048rem;
  font-weight: 400;
}

.descriptionWrapper {
  margin-left: sidePadding;
  margin-right: sidePadding;
  margin: 0 sidePadding commonSpacing sidePadding;
}

.existingUser {
  margin-left: sidePadding;
  margin-right: sidePadding;
  margin-bottom: 3.5rem;
  font-size: 1.8rem;
  color: deepBlue;
  letter-spacing: -0.036rem;
  font-weight: 400;
}

.startRecordingImg {
  height: 5rem;
  width: 4.2rem;
  fill: deepBlue;
}

.startRecordingText {
  padding-left: 1.6rem;
  line-height: 4.2rem;
  font-size: 2.4rem;
  color: deepBlue;
  letter-spacing: -0.048rem;
  font-weight: 400;
}

.startRecordingWrapper {
  display: flex;
  padding-left: sidePadding;
  align-items: center;
  height: 11.2rem;
  border-bottom: 1px solid lighterGray;
  border-top: 1px solid lighterGray;
  margin: commonSpacing 0 commonSpacing 0;
}

.title {
  margin: 0;
  line-height: 4.2rem;
  font-size: 4rem;
  color: darkestGray;
  letter-spacing: -0.08rem;
  font-weight: 700;
}

.titleWrapper {
  margin-top: 3.9rem;
  padding-left: sidePadding;
  padding-right: sidePadding;
}
