@value cobalt, defaultWhite from "../colors.css";
@value headerSize from "../sizes.css";

@value bannerHeight: 20rem;
@value firstStepTimestamp: 0.8s;
@value secondStepDuration: 0.3s;
@value leftSecondAnimation: left secondStepDuration ease-out;

.banner {
  height: bannerHeight;
}

.bannerImage {
  height: bannerHeight;
  width: 100%;
  object-fit: cover;
}

.carossel {
  height: calc(100vh - bannerHeight);
}

.header {
  position: absolute;
  top: 0;
  left: 100%;
  background-color: defaultWhite;
  width: 100%;
}

.animation .header {
  left: 0;
  transition: leftSecondAnimation;
  transition-delay: firstStepTimestamp;
}

.splash {
  background-color: cobalt;
  position: absolute;
  top: bannerHeight;
  left: 0;
  width: 100%;
  height: calc(100vh - bannerHeight);
}

.animation .splash {
  left: -100%;
  transition: leftSecondAnimation;
  transition-delay: firstStepTimestamp;
}

.logo {
  height: 67%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.animation .logo {
  opacity: 0;
  transition: opacity firstStepTimestamp ease-out;
}

.content {
  position: absolute;
  top: bannerHeight;
  left: 100%;
  width: 100%;
  height: calc(100vh - bannerHeight);
}

.animation .content {
  left: 0;
  transition: leftSecondAnimation;
  transition-delay: firstStepTimestamp;
}

.skip .header {
  left: 0;
}

.skip .splash {
  left: -100%;
}

.skip .content {
  left: 0;
}
