@value cobalt, defaultWhite from "../colors.css";
@value headerSize from "../sizes.css";

@value bannerHeight: 20rem;
@value firstStepDelay: 1.1s;
@value firstStepDuration: 0.8s;
@value secondStepDuration: 0.3s;
@value secondStepDelay: 1.7s;

.banner {
  height: bannerHeight;
}

.bannerImage {
  height: bannerHeight;
  width: 100%;
  object-fit: cover;
}

.carossel {
  height: calc(100vh - bannerHeight);
  background-color: cobalt;
}

.logo {
  height: 67%;
  display: flex;
  justify-content: center;
  align-items: center;

  opacity: 1;
  animation: dissapear firstStepDuration forwards;
  animation-delay: firstStepDelay;
}

.splash {
  background-color: cobalt;
  position: absolute;
  top: bannerHeight;
  left: 0;
  width: 100%;
  height: calc(100vh - bannerHeight);

  animation: disappearToLeft secondStepDuration forwards;
  animation-delay: secondStepDelay;
}

.header {
  position: absolute;
  top: 0;
  background-color: defaultWhite;
  width: 100%;

  opacity: 0;
  animation: appearFromRight secondStepDuration forwards;
  animation-delay: secondStepDelay;
}

.content {
  position: absolute;
  top: bannerHeight;
  background-color: defaultWhite;
  opacity: 0;
  width: 100%;
  height: calc(100vh - bannerHeight);

  animation: appearFromRight secondStepDuration forwards;
  animation-delay: secondStepDelay;
}

@keyframes appearFromRight {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0%);
  }
}

@keyframes dissapear {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes disappearToLeft {
  0% {
    opacity: 1;
    transform: translateX(0%);
  }
  100% {
    opacity: 0;
    transform: translateX(-100%);
  }
}
