@value defaultWhite, darkestGray, lighterGray, mediumGray, deepBlue from "../colors.css";
@value sidePadding, headerPaddingTop, headerPaddingBottom, headerInnerSize from "../sizes.css";

.accessVia {
  font-size: 1.8rem;
  line-height: 2.8rem;
  letter-spacing: -0.036rem;
  color: mediumGray;
  font-weight: 300;
}

.accessViaWrapper {
  margin-bottom: 1.9rem;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 3.8rem sidePadding 3.7rem;
}

.enterText {
  font-size: 4rem;
  line-height: 4.2rem;
  letter-spacing: -0.08rem;
  color: darkestGray;
  font-weight: 700;
  margin: 0;
}

.enterTextWrapper {
  height: 4.2rem;
  margin-bottom: 4rem;
}

.FacebookButtonWrapper {
  margin-bottom: 1.3rem;
}

.continueButtonWrapper {
  height: 7rem;
  align-items: center;
}

.newUser {
  margin-bottom: 3.5rem;
  font-size: 1.8rem;
  color: deepBlue;
  letter-spacing: -0.036rem;
  font-weight: 400;
}

.password {
  margin-bottom: 3.85rem;
}

.separator {
  height: 0.1rem;
  border-width: 0;
  color: lighterGray;
  background-color: lighterGray;
  margin-top: 3.23rem;
  margin-bottom: 1.9rem;
}
