@value darkestGray, mediumGray from "../colors.css";

.wrapper {
  margin-bottom: 4rem;
}

.titleWrapper {
  margin-bottom: 1.6rem;
}

.title {
  font-size: 1.4rem;
  font-weight: 700;
  letter-spacing: -0.028rem;
  color: mediumGray;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.item {
  position: relative;
  margin-bottom: 2.1rem;
  height: 2.1rem;
  display: flex;
  align-items: center;
}

.item > a {
  font-size: 1.8rem;
  font-weight: 500;
  letter-spacing: -0.036rem;
  color: darkestGray;
  text-decoration: none;
  cursor: pointer;
  padding-right: 0.5rem;
}

.item > a.highlight {
  font-weight: 700;
}

.highlight::before {
  content: "";
  height: 2.4rem;
  width: 0.4rem;
  position: absolute;
  left: -0.8rem;
  color: rgb(8, 190, 225);
  background-color: rgb(8, 190, 225);
}
