@value highlightDepth from "../sizes.css";
@value darkestGray, mediumGray, lighterGray, lightestGray from "../colors.css";
@value firstToastyDelay from "../recording-constants.css";

.box {
  z-index: highlightDepth;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

  height: 5rem;
  background-color: lightestGray;
  border: 1px solid mediumGray;
  border-radius: 1px;
}

.text {
  font-size: 1.6rem;
  letter-spacing: -0.032rem;
  color: mediumGray;
}

.hide {
  display: none;
}
