@value desktopBreakpoint, sidePadding from "../../sizes.css";

.action {
  margin: 0 0 sidePadding 0;
}

.action > button:first-child {
  margin-bottom: 0.8rem;
}

@media (min-width: desktopBreakpoint) {
  .action {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
  }
}
