@value successGreen, defaultWhite from "../../colors.css";

.button {
  width: 10rem;
  height: 10rem;
  border-radius: 50%;

  box-shadow: 0px 0px 0.5rem 0.2rem rgba(129, 129, 129, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.button > img {
  width: 5rem;
  height: 5.5rem;
}

.success {
  background-color: successGreen;
}

.default {
  background-color: defaultWhite;
}
