@value recordingTextGrey, graphiteGrey from "../colors.css";
.logo {
  font-family: "Coolvetica";
  letter-spacing: 0.0853rem;
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 2.4rem;
  margin: 0;
}

.grey {
  color: recordingTextGrey;
}

.black {
  color: graphiteGrey;
}
