@value cobalt, defaultWhite, darkestGray from "../colors.css";
@value headerSize from "../sizes.css";

.cardPageWrapper {
  display: flex;
  flex-flow: column;
  border-top-left-radius: 1.5rem;
  border-top-right-radius: 1.5rem;
}

.useAllHeight {
  min-height: calc(100vh - headerSize);
}
