@value mediumGray from "../colors.css";
@value sidePadding, headerSize, doubleButtonHeight, buttonSpacing, desktopBreakpoint from "../sizes.css";

.content {
  min-height: calc(100vh - headerSize - doubleButtonHeight);
}

.image {
  display: none;
}

.actions > button {
  margin-bottom: buttonSpacing;
}

@media (min-width: desktopBreakpoint) {
  .content {
    display: flex;
    justify-content: space-between;
  }

  .form {
    width: 50%;
  }

  .image {
    display: block;
  }

  .image > img {
    width: 33rem;
    height: 63rem;
    object-fit: cover;
  }
}
