@value defaultWhite from "../colors.css";
@value sidePadding, headerPaddingTop, headerPaddingBottom, headerInnerSize from "../sizes.css";

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: headerPaddingTop sidePadding headerPaddingBottom sidePadding;
}

.logoWrapper {
  display: flex;
  align-items: center;
}

.logoWrapper > img {
  height: 4rem;
  width: 4rem;
  padding-right: 1rem;
}

.icon {
  height: 3.5rem;
  width: 3.5rem;
}

.iconWrapper {
  background-color: defaultWhite;
  border-radius: 50%;
  padding: 0;
  margin: 0;
  border: 0;
  height: 3.5rem;
  width: 3.5rem;
}

.iconWrapper > svg {
  height: 3.5rem;
  width: 3.5rem;
}
