@value defaultWhite, graphiteGray, borderGray, descriptionGray, deepBlue from "../colors.css";
@value sidePadding, headerPaddingTop, headerPaddingBottom, headerInnerSize from "../sizes.css";
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: headerPaddingTop sidePadding headerPaddingBottom sidePadding;
}

.logoWrapper {
  display: flex;
}

.logoWrapper>img {
  padding-right: 1rem;
}