@value defaultWhite, graphiteGray, borderGray, descriptionGray, deepBlue from "../colors.css";
@value sidePadding, headerPaddingTop, headerPaddingBottom, headerInnerSize from "../sizes.css";

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: headerPaddingTop sidePadding headerPaddingBottom sidePadding;
}

.logoWrapper {
  display: flex;
  align-items: center;
}

.logoWrapper > img {
  padding-right: 1rem;
}

.icon {
  height: 3.5rem;
  width: 3.5rem;
}

.iconWrapper {
  background-color: defaultWhite;
  border-radius: 50%;
  height: 3.5rem;
  width: 3.5rem;
}
