@value cobalt, cozyOrange, defaultWhite from "../colors.css";

.wrapper {
  display: flex;
}

.link {
  font-size: 1.8rem;
  font-weight: 500;
  letter-spacing: -0.032rem;
  cursor: pointer;
  background: none;
  padding: 0;
  border: none;
}

.dark {
  color: cobalt;
  border-bottom: 1px solid cobalt;
}

.orange {
  color: cozyOrange;
  border-bottom: 1px solid cozyOrange;
}

.white {
  color: defaultWhite;
  border-bottom: 1px solid defaultWhite;
}
