@value cobalt, defaultWhite, darkestGray from "../colors.css";
@value sidePadding from "../sizes.css";

.pageWrapper {
  display: flex;
  flex-flow: column;
  padding-left: sidePadding;
  padding-right: sidePadding;
}

.cobaltBackground {
  background-color: cobalt;
  color: defaultWhite;
}

.whiteBackground {
  background-color: defaultWhite;
  color: darkestGray;
}
