@value headerSize from "../sizes.css";
@value footerSize: 12rem;

.content {
  height: calc(100vh - headerSize - footerSize);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title {
  text-align: center;
  font-size: 3.2rem;
  font-weight: 500;
  letter-spacing: -0.064rem;
  margin: 1.3rem 0 5.3rem 0;
}

.footer img {
  position: absolute;
  height: footerSize;
  width: 100%;
  bottom: 0;
  left: 0;
  object-fit: cover;
}
