@value cobalt from "./colors.css";

.pageWrapper {
  display: flex;
  flex-flow: column;
  height: 100vh;
  background-color: cobalt;

  text-align: center;
}

.contentWrapper {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
