.pageWrapper {
  display: flex;
  flex-flow: column;
  height: 100vh;

  text-align: center;
}

.contentWrapper {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background-color: #709e9a;
  font-size: calc(10px + 2vmin);
}
