html {
  font-size: 10px;
}

body {
  margin: 0;
  font-family: "Inter";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button {
  font-family: "Inter" !important;
}

@font-face {
  font-family: "Coolvetica";
  src: url("/public/fonts/coolvetica-crammed-rg.ttf");
}
