html {
  font-size: 10px;
  color: rgb(33, 33, 33);
}

@media (max-height: 736px) {
  html {
    font-size: 9px;
  }
}

@media (max-height: 667px) {
  html {
    font-size: 8px;
  }
}

@media (max-height: 568px) {
  html {
    font-size: 7px;
  }
}

body {
  margin: 0;
  font-family: "Inter";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button {
  font-family: "Inter" !important;
  padding: 0;
  margin: 0;
  border: 0;
  background-color: unset;
  cursor: pointer;
}

@font-face {
  font-family: "Coolvetica";
  src: url("./assets/fonts/coolvetica-rg.ttf");
}
