.spacingXS {
  padding-bottom: 0.8rem;
}

.spacingS {
  padding-bottom: 1.6rem;
}

.spacingM {
  padding-bottom: 2.4rem;
}

.spacingL {
  padding-bottom: 3.2rem;
}

.spacingXL {
  padding-bottom: 4rem;
}
