@value defaultWhite, cozyOrange, lighterGray from "../../colors.css";

.wrapper {
  height: 18rem;
  width: 18rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.orange {
  background-color: cozyOrange;
}

.gray {
  background-color: lighterGray;
}
