@value defaultWhite, canaryMustard from "../../colors.css";

.wrapper {
  height: 4rem;
  width: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.number {
  font-size: 2rem;
  font-weight: 600;
  letter-spacing: -0.04rem;
  color: defaultWhite;
}

.orange {
  background-color: canaryMustard;
}
