@value defaultWhite, cozyOrange from "../../colors.css";

.wrapper {
  height: 4rem;
  width: 4rem;
}

.number {
  font-size: 2rem;
  font-weight: 600;
  letter-spacing: -0.04rem;
  color: defaultWhite;
}

.orange {
  color: cozyOrange;
}
